{% extends 'base.html' %}
{% block content %}
    <div class="container my-4">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Название</th>
              <th scope="col">&nbsp;</th>
              <th scope="col">&nbsp;</th>
            </tr>
          </thead>
            <tbody>
            {% for city in cities %}
                <tr>
                  <th scope="row">{{ city.name }}</th>
                  <td>Редактировать</td>
                  <td>Удалить</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}