{% extends 'base.html' %}
{% block content %}
    <div class="container my-4">
        <h1 class="display-4">Сохранить маршрут</h1>
        <div class="row mx-auto my-4">
            <div class="col-md-8">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p>Маршрут из г. {{ route.from_city }} в г. {{ route.to_city }} продолжительностью {{ route.total_time }} ч.</p>
                    <p>Маршрут состоит из:</p>
                    {% for train in route.trains %}
                        <p>Поезд № {{ train.name }} следующий из г. {{ train.from_city }} в г. {{ train.to_city }}.
                        Время в пути {{ train.travel_time }} ч.</p>
                    {% endfor %}

                    <input class="btn btn-light" type="submit" role="button" value="Сохранить">
                </form>
            </div>
        </div>
    </div>
{% endblock %}