{% extends 'base.html' %}
{% block title %}Маршруты{% endblock title %}
{% block content %}
    <div class="container my-4">
        <h1 class="text-center my-4">Список маршрутов</h1>
        <div class="row">
            <div class="col-md-12 mx-auto">
                <table class="table">
                    <thead class="thead-dark rounded">
                    <tr>
                        <th scope="col">Название маршрута</th>
                        <th scope="col">Откуда</th>
                        <th scope="col">Куда</th>
                        <th scope="col">Время в пути</th>
                        <th scope="col">Список поездов по маршруру</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{ route.name }}</th>
                            <th>{{ route.from_city }}</th>
                            <th>{{ route.to_city }}</th>
                            <th>{{ route.travel_time }} ч.</th>
                            <th> {% for train in route.across_cities.all %}Поезд № {{ train.name }} из г. {{ train.from_city }} в г. {{ train.to_city }}
                                <br>{% endfor %}</th>
                            <th><a class="btn btn-danger btn-sm" href="{% url 'routes:delete' pk=route.pk %}"
                                   role="button">Удалить</a></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}